

body {
    font-family: 'Roboto', sans-serif;
}

.title{
     padding: 4px;
     height: 75px;
 }

.yellow {
    color: rgb(255, 251, 11);
}

 

.text-large {
    font-size: 7vw;

}
 
.row1 {
    background-color: #101010;
    padding: 4%;
    font-size: 3vw;
    color: white;
  }
.row{
    padding: 4%;

}

.row3{
    background-color: #e7e9eb;
    padding: 4%;
    font-size: 3vw;
 }

footer{
    background-color: #101010;
     color: white;
 }